a.navbar-brand.logo {
	padding: 0;
	margin: 0;
}

.logo img {
	height: 50px;
	width: 50px;
}f

.nav-link{
	transition-duration: .5s;
}

.nav-link:hover {
 	letter-spacing: 1px;
}

.footer :first-child {
	margin-bottom: 0;
}

.footer :last-child {
	margin-top: -5px;
  	font-size: .6em;
}

@media screen and (max-width: 576px) {
   	.display-1 {
    	font-size: 5em;
   	}
}

@media screen and (max-width: 767px) {
  	.logo.nav-item {
    	display: none;
  	}
}

@media screen and (min-width: 768px) {
  	.logo.navbar-brand {
    	display: none;
  	}
}