a.navbar-brand.logo {
	padding: 0;
	margin: 0;
}

.navbar {
	display: flex;
	position: fixed;
	z-index: 100;
	width: 100%;
	box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}
  

.logo img {
	height: 50px;
	width: 50px;
}

.nav-item {
	transition-duration: .25s;
}

.logo {
	scale: 1.1;
}

.nav-item:hover {
 	letter-spacing: 0.2px;
}

.jumbotron {
	padding: 12em 0 7.5em 0;
}

.footer :first-child {
	margin-bottom: 0;
}

.footer :last-child {
	margin-top: -5px;
  	font-size: .6em;
}

@media screen and (max-width: 576px) {
   	.display-1 {
    	font-size: 5em;
   	}
}

@media screen and (max-width: 767px) {
  	.logo.nav-item {
    	display: none;
  	}
}

@media screen and (min-width: 768px) {
  	.logo.navbar-brand {
    	display: none;
  	}
}